/Final_project/documentation/main.pdf
/Final_project/documentation/*.aux
/Final_project/documentation/*.bbl
/Final_project/documentation/*.blg
/Final_project/documentation/*.log
/Final_project/documentation/*.out
/Final_project/documentation/*.gz
/Final_project/documentation/*.toc
