/Final_project/Dokumentation/main.out
/Final_project/Dokumentation/main.pdf
/Final_project/Dokumentation/main.synctex.gz
/Final_project/Dokumentation/main.aux
/Final_project/Dokumentation/main.bbl
/Final_project/Dokumentation/main.blg
/Final_project/Dokumentation/main.idx
/Final_project/Dokumentation/main.lof
/Final_project/Dokumentation/main.log
/Final_project/Dokumentation/main.lot
/Final_project/Dokumentation/main.toc
/Final_project/Dokumentation/*.aux
/Final_project/Dokumentation/*.log
/Final_project/documentation/*.aux
/Final_project/documentation/*.bbl
/Final_project/documentation/*.blg
/Final_project/documentation/*.log
/Final_project/documentation/*.out
/Final_project/documentation/*.gz
/Final_project/documentation/*.toc
